.vscode/
tiny.html
__pycache__
django_env
.idea/
.idea/.gitignore
.idea/first.iml
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
media/blog/
media/profile_pics/

blog/migrations/
api/migrations/
home/migrations/
video/migrations/
accounts/migrations/